{namespace atlassian.kotlin}

/**
*/
{template .kotlinBase}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>kotlin-p2</title>
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="system_admin"/>
    </head>
    <body>
              random text
    </body>
    </html>

{/template}
